{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": 0,
    "object-curly-spacing": "off",
    "space-before-function-paren": 0,
    "computed-property-even-spacing": "off"
  },
  "extends": [
    "plugin:react/recommended"
  ]
}
