@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');

$near-black: #212121;

body {
  color: $near-black;
  background: whitesmoke;
  font-family: sans-serif;
}

.flex {
  display: flex;
}

.price-filter-wrapper {
  display: inline;
  padding-left: 2rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

// Typography
.quicksand {
  font-family: 'Quicksand', sans-serif;
}


